<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Radio</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/4.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui/1.12.1/css/jquery-ui.min.css" />
        <link rel="stylesheet" href="~/lib/slick/slick-theme.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
        <link rel="stylesheet" href="~/css/config/config.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/4.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui/1.12.1/css/jquery-ui.min.css" />
        <link rel="stylesheet" href="~/lib/slick/slick-theme.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
        <link rel="stylesheet" href="~/css/config/config.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <!--Map-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <link rel="stylesheet" href="~/css/map/leaflet.css" />
    <script src="~/js/map/leaflet.js"></script>

</head>
<body>
    <datalist id="selectCities"></datalist>

    <datalist id="selectCountries">
        <option data-value="EG">Ägypten</option>
        <option data-value="AL">Albanien</option>
        <option data-value="DZ">Algerien</option>
        <option data-value="AD">Andorra</option>
        <option data-value="AO">Angola</option>
        <option data-value="AI">Anguilla</option>
        <option data-value="AQ">Antarktis</option>
        <option data-value="AG">Antigua und Barbuda</option>
        <option data-value="GQ">Äquatorial Guinea</option>
        <option data-value="AR">Argentinien</option>
        <option data-value="AM">Armenien</option>
        <option data-value="AW">Aruba</option>
        <option data-value="AZ">Aserbaidschan</option>
        <option data-value="ET">Äthiopien</option>
        <option data-value="AU">Australien</option>
        <option data-value="BS">Bahamas</option>
        <option data-value="BH">Bahrain</option>
        <option data-value="BD">Bangladesh</option>
        <option data-value="BB">Barbados</option>
        <option data-value="BE">Belgien</option>
        <option data-value="BZ">Belize</option>
        <option data-value="BJ">Benin</option>
        <option data-value="BM">Bermudas</option>
        <option data-value="BT">Bhutan</option>
        <option data-value="MM">Birma</option>
        <option data-value="BO">Bolivien</option>
        <option data-value="BA">Bosnien-Herzegowina</option>
        <option data-value="BW">Botswana</option>
        <option data-value="BV">Bouvet Inseln</option>
        <option data-value="BR">Brasilien</option>
        <option data-value="IO">Britisch-Indischer Ozean</option>
        <option data-value="BN">Brunei</option>
        <option data-value="BG">Bulgarien</option>
        <option data-value="BF">Burkina Faso</option>
        <option data-value="BI">Burundi</option>
        <option data-value="CL">Chile</option>
        <option data-value="CN">China</option>
        <option data-value="CX">Christmas Island</option>
        <option data-value="CK">Cook Inseln</option>
        <option data-value="CR">Costa Rica</option>
        <option data-value="DK">Dänemark</option>
        <option data-value="DE">Deutschland</option>
        <option data-value="DJ">Djibuti</option>
        <option data-value="DM">Dominika</option>
        <option data-value="DO">Dominikanische Republik</option>
        <option data-value="EC">Ecuador</option>
        <option data-value="SV">El Salvador</option>
        <option data-value="CI">Elfenbeinküste</option>
        <option data-value="ER">Eritrea</option>
        <option data-value="EE">Estland</option>
        <option data-value="FK">Falkland Inseln</option>
        <option data-value="FO">Färöer Inseln</option>
        <option data-value="FJ">Fidschi</option>
        <option data-value="FI">Finnland</option>
        <option data-value="FR">Frankreich</option>
        <option data-value="GF">Französisch Guyana</option>
        <option data-value="PF">Französisch Polynesien</option>
        <option data-value="TF">Französisches Süd-Territorium</option>
        <option data-value="GA">Gabun</option>
        <option data-value="GM">Gambia</option>
        <option data-value="GE">Georgien</option>
        <option data-value="GH">Ghana</option>
        <option data-value="GI">Gibraltar</option>
        <option data-value="GD">Grenada</option>
        <option data-value="GR">Griechenland</option>
        <option data-value="GL">Grönland</option>
        <option data-value="UK">Großbritannien</option>
        <option data-value="GP">Guadeloupe</option>
        <option data-value="GU">Guam</option>
        <option data-value="GT">Guatemala</option>
        <option data-value="GN">Guinea</option>
        <option data-value="GW">Guinea Bissau</option>
        <option data-value="GY">Guyana</option>
        <option data-value="HT">Haiti</option>
        <option data-value="HM">Heard und McDonald Islands</option>
        <option data-value="HN">Honduras</option>
        <option data-value="HK">Hong Kong</option>
        <option data-value="IN">Indien</option>
        <option data-value="ID">Indonesien</option>
        <option data-value="IQ">Irak</option>
        <option data-value="IR">Iran</option>
        <option data-value="IE">Irland</option>
        <option data-value="IS">Island</option>
        <option data-value="IL">Israel</option>
        <option data-value="IT">Italien</option>
        <option data-value="JM">Jamaika</option>
        <option data-value="JP">Japan</option>
        <option data-value="YE">Jemen</option>
        <option data-value="JO">Jordanien</option>
        <option data-value="YU">Jugoslawien</option>
        <option data-value="KY">Kaiman Inseln</option>
        <option data-value="KH">Kambodscha</option>
        <option data-value="CM">Kamerun</option>
        <option data-value="CA">Kanada</option>
        <option data-value="CV">Kap Verde</option>
        <option data-value="KZ">Kasachstan</option>
        <option data-value="KE">Kenia</option>
        <option data-value="KG">Kirgisistan</option>
        <option data-value="KI">Kiribati</option>
        <option data-value="CC">Kokosinseln</option>
        <option data-value="CO">Kolumbien</option>
        <option data-value="KM">Komoren</option>
        <option data-value="CG">Kongo</option>
        <option data-value="CD">Kongo, Demokratische Republik</option>
        <option data-value="HR">Kroatien</option>
        <option data-value="CU">Kuba</option>
        <option data-value="KW">Kuwait</option>
        <option data-value="LA">Laos</option>
        <option data-value="LS">Lesotho</option>
        <option data-value="LV">Lettland</option>
        <option data-value="LB">Libanon</option>
        <option data-value="LR">Liberia</option>
        <option data-value="LY">Libyen</option>
        <option data-value="LI">Liechtenstein</option>
        <option data-value="LT">Litauen</option>
        <option data-value="LU">Luxemburg</option>
        <option data-value="MO">Macao</option>
        <option data-value="MG">Madagaskar</option>
        <option data-value="MW">Malawi</option>
        <option data-value="MY">Malaysia</option>
        <option data-value="MV">Malediven</option>
        <option data-value="ML">Mali</option>
        <option data-value="MT">Malta</option>
        <option data-value="MP">Marianen</option>
        <option data-value="MA">Marokko</option>
        <option data-value="MH">Marshall Inseln</option>
        <option data-value="MQ">Martinique</option>
        <option data-value="MR">Mauretanien</option>
        <option data-value="MU">Mauritius</option>
        <option data-value="YT">Mayotte</option>
        <option data-value="MK">Mazedonien</option>
        <option data-value="MX">Mexiko</option>
        <option data-value="FM">Mikronesien</option>
        <option data-value="MZ">Mocambique</option>
        <option data-value="MD">Moldavien</option>
        <option data-value="MC">Monaco</option>
        <option data-value="MN">Mongolei</option>
        <option data-value="MS">Montserrat</option>
        <option data-value="NA">Namibia</option>
        <option data-value="NR">Nauru</option>
        <option data-value="NP">Nepal</option>
        <option data-value="NC">Neukaledonien</option>
        <option data-value="NZ">Neuseeland</option>
        <option data-value="NI">Nicaragua</option>
        <option data-value="NL">Niederlande</option>
        <option data-value="AN">Niederländische Antillen</option>
        <option data-value="NE">Niger</option>
        <option data-value="NG">Nigeria</option>
        <option data-value="NU">Niue</option>
        <option data-value="KP">Nord Korea</option>
        <option data-value="NF">Norfolk Inseln</option>
        <option data-value="NO">Norwegen</option>
        <option data-value="OM">Oman</option>
        <option data-value="AT">Österreich</option>
        <option data-value="PK">Pakistan</option>
        <option data-value="PS">Palästina</option>
        <option data-value="PW">Palau</option>
        <option data-value="PA">Panama</option>
        <option data-value="PG">Papua Neuguinea</option>
        <option data-value="PY">Paraguay</option>
        <option data-value="PE">Peru</option>
        <option data-value="PH">Philippinen</option>
        <option data-value="PN">Pitcairn</option>
        <option data-value="PL">Polen</option>
        <option data-value="PT">Portugal</option>
        <option data-value="PR">Puerto Rico</option>
        <option data-value="QA">Qatar</option>
        <option data-value="RE">Reunion</option>
        <option data-value="RW">Ruanda</option>
        <option data-value="RO">Rumänien</option>
        <option data-value="RU">Rußland</option>
        <option data-value="LC">Saint Lucia</option>
        <option data-value="ZM">Sambia</option>
        <option data-value="AS">Samoa</option>
        <option data-value="WS">Samoa</option>
        <option data-value="SM">San Marino</option>
        <option data-value="ST">Sao Tome</option>
        <option data-value="SA">Saudi Arabien</option>
        <option data-value="SE">Schweden</option>
        <option data-value="CH">Schweiz</option>
        <option data-value="SN">Senegal</option>
        <option data-value="SC">Seychellen</option>
        <option data-value="SL">Sierra Leone</option>
        <option data-value="SG">Singapur</option>
        <option data-value="SK">Slowakei</option>
        <option data-value="SI">Slowenien</option>
        <option data-value="SB">Solomon Inseln</option>
        <option data-value="SO">Somalia</option>
        <option data-value="GS">South Georgia, South Sandwich Isl.</option>
        <option data-value="ES">Spanien</option>
        <option data-value="LK">Sri Lanka</option>
        <option data-value="SH">St. Helena</option>
        <option data-value="KN">St. Kitts Nevis Anguilla</option>
        <option data-value="PM">St. Pierre und Miquelon</option>
        <option data-value="VC">St. Vincent</option>
        <option data-value="KR">Süd Korea</option>
        <option data-value="ZA">Südafrika</option>
        <option data-value="SD">Sudan</option>
        <option data-value="SR">Surinam</option>
        <option data-value="SJ">Svalbard und Jan Mayen Islands</option>
        <option data-value="SZ">Swasiland</option>
        <option data-value="SY">Syrien</option>
        <option data-value="TJ">Tadschikistan</option>
        <option data-value="TW">Taiwan</option>
        <option data-value="TZ">Tansania</option>
        <option data-value="TH">Thailand</option>
        <option data-value="TP">Timor</option>
        <option data-value="TG">Togo</option>
        <option data-value="TK">Tokelau</option>
        <option data-value="TO">Tonga</option>
        <option data-value="TT">Trinidad Tobago</option>
        <option data-value="TD">Tschad</option>
        <option data-value="CZ">Tschechische Republik</option>
        <option data-value="TN">Tunesien</option>
        <option data-value="TR">Türkei</option>
        <option data-value="TM">Turkmenistan</option>
        <option data-value="TC">Turks und Kaikos Inseln</option>
        <option data-value="TV">Tuvalu</option>
        <option data-value="UG">Uganda</option>
        <option data-value="UA">Ukraine</option>
        <option data-value="HU">Ungarn</option>
        <option data-value="UY">Uruguay</option>
        <option data-value="UZ">Usbekistan</option>
        <option data-value="VU">Vanuatu</option>
        <option data-value="VA">Vatikan</option>
        <option data-value="VE">Venezuela</option>
        <option data-value="AE">Vereinigte Arabische Emirate</option>
        <option data-value="US">Vereinigte Staaten von Amerika</option>
        <option data-value="VN">Vietnam</option>
        <option data-value="VG ">Virgin Island</option>
        <option data-value="VI ">Virgin Island</option>
        <option data-value="WF">Wallis et Futuna</option>
        <option data-value="BY">Weissrussland</option>
        <option data-value="EH">Westsahara</option>
        <option data-value="CF">Zentralafrikanische Republik</option>
        <option data-value="ZW">Zimbabwe</option>
        <option data-value="CY">Zypern</option>

    </datalist>

    <div class="container">
        <!--Navigation-->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

            </div>
        </div>

        <hr class="nav-line" />

        <!--Content-->
        @RenderBody()

        <hr class="line" />

        <!--Footer-->
        <div class="row footer" style="font-size: small;">


        </div>
    </div>

    <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="messageTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="messageTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="messageBody"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schlie&szlig;en</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="loadingTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center align-middle" id="loadingBody">
                        <img src="~/images/loader.gif" alt="Daten werden geladen" style="height: 50px; width:50px" class="text-center" />
                        <p>Daten werden geladen ...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/3.3.1/jquery-3.3.1.min.js"></script>
        <script src="~/lib/jquery-ui/1.12.1/js/jquery-ui.min.js"></script>
        <script src="~/lib/popper/popper.min.js"></script>
        <script src="~/lib/popper/tooltip.min.js"></script>
        <script src="~/lib/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.loading.block.js"></script>
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/config/config.js" asp-append-version="true"></script>

        <!--[if lt IE 9]>
            <script type="text/javascript" src="~/js/excanvas.js"></script>
        <![endif]-->
    </environment>

    <environment exclude="Development">
        <script src="~/lib/jquery/3.3.1/jquery-3.3.1.min.js"></script>
        <script src="~/lib/jquery-ui/1.12.1/js/jquery-ui.min.js"></script>
        <script src="~/lib/popper/popper.min.js"></script>
        <script src="~/lib/popper/tooltip.min.js"></script>
        <script src="~/lib/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.loading.block.js"></script>
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/config/config.js" asp-append-version="true"></script>

        <!--[if lt IE 9]>
            <script type="text/javascript" src="~/js/excanvas.js"></script>
        <![endif]-->
    </environment>



    @RenderSection("Scripts", required: false)
</body>
</html>
