<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Radio</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/4.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui/1.12.1/css/jquery-ui.min.css" />
        <link rel="stylesheet" href="~/lib/slick/slick-theme.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/4.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui/1.12.1/css/jquery-ui.min.css" />
        <link rel="stylesheet" href="~/lib/slick/slick-theme.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    </environment>

    <link rel="stylesheet" href="~/css/font.css" />

    <link rel="stylesheet" href="~/css/site/jquery.simpleTicker.css" />
    <link rel="stylesheet" href="~/css/site/marquee.css" />
    <link rel="stylesheet" href="~/css/site/dailyScripture.css" />
    <link rel="stylesheet" href="~/css/site/openWeather.css" />
    <link rel="stylesheet" href="~/css/site/calendar.css" />
    <link rel="stylesheet" href="~/css/site/radio.css" />
    <link rel="stylesheet" href="~/css/site/index.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site/config.css" />

</head>
<body class="background-dark">
    <div class="container">
        <!--Navigation-->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="menue">
                    <div class="row">
                        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 text-center align-baseline">
                            <a href="#home" onclick="window.location.replace('/')">
                                <span class="fa fa-home menue-top" id="homeNav"></span>
                            </a>
                            <hr id="homeLine" class="menueLine" />
                        </div>
                        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 text-center">
                            <a href="#radio" onclick="window.location.reload()">
                                <span class="fa fa-broadcast-tower menue-top" id="radioNav"></span>
                            </a>
                            <hr id="radioLine" class="menueLine" />
                        </div>
                        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 text-center">
                            <a href="#music" onclick="window.location.reload()">
                                <span class="fa fa-music menue-top" id="musicNav"></span>
                            </a>
                            <hr id="musicLine" class="menueLine" />
                        </div>
                        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 text-center">
                            <a href="#conf" onclick="window.location.reload()">
                                <span class="fa fa-cog menue-top" id="confNav"></span>
                            </a>
                            <hr id="confLine" class="menueLine" />
                        </div>
                        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="nav-line" />

        <!--Content-->
        @RenderBody()

    </div>

    <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="messageTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="messageTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="messageBody"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schlie&szlig;en</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <environment include="Development">
        <script src="~/lib/jquery/3.3.1/jquery-3.3.1.min.js"></script>
        <script src="~/lib/jquery-ui/1.12.1/js/jquery-ui.min.js"></script>
        <script src="~/lib/popper/popper.min.js"></script>
        <script src="~/lib/popper/tooltip.min.js"></script>
        <script src="~/lib/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.loading.block.js"></script>
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>

        <!--[if lt IE 9]>
            <script type="text/javascript" src="~/js/excanvas.js"></script>
        <![endif]-->
    </environment>

    <environment exclude="Development">
        <script src="~/lib/jquery/3.3.1/jquery-3.3.1.min.js"></script>
        <script src="~/lib/jquery-ui/1.12.1/js/jquery-ui.min.js"></script>
        <script src="~/lib/popper/popper.min.js"></script>
        <script src="~/lib/popper/tooltip.min.js"></script>
        <script src="~/lib/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.loading.block.js"></script>
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <!--[if lt IE 9]>
            <script type="text/javascript" src="~/js/excanvas.js"></script>
        <![endif]-->
    </environment>

    <script src="~/js/site/jquery.simpleTicker.js" asp-append-version="true"></script>
    <script src="~/js/site/marquee.js" asp-append-version="true"></script>

    <script src="~/js/map/leaflet.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/site/dailyScripture.js" asp-append-version="true"></script>
    <script src="~/js/site/weather.js" asp-append-version="true"></script>
    <script src="~/js/site/radio.js" asp-append-version="true"></script>
    <script src="~/js/site/index.js" asp-append-version="true"></script>
    <script src="~/js/site/config.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
