/* Site */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

.background-dark {
    background: #0f3854;
    background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 100%);
    background-size: 100%;
    color: white;
}

.background-dark > hr {
    border-top: 2px solid #808080;
}
/* Span */
.span-clickable {
   cursor: pointer;
}

/*Modal*/
.modal {
    color: black;
}

.modal-body {
    height: 180px;
    overflow-y: auto;
    font-size: 14px;
}

.modal-body > p {
    border: 0 solid black;
}

.modal-backdrop {
    background-color: darkgray;
}

.modal-title {
    font-size: 14px;
    font-weight: bold;
}

/*Button*/
.button-transparent {
    background: none;
    background-color: transparent;
    border: 0;
    border-color: transparent;
    color: white;
}
.button-transparent:hover {
    cursor: pointer;
}


