/* Site */
hr {
    border-top: 1px solid #808080;
}

a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

.background-dark {
    background: #0f3854;
    background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 100%);
    background-size: 100%;
    color: white;
}

/* Span */
.span-clickable {
   cursor: pointer;
}

/*Modal*/
.modal {
    color: black;
}

.modal-body {
    height: 180px;
    overflow-y: auto;
    font-size: 14px;
}

.modal-body > p {
    border: 0 solid black;
}

.modal-backdrop {
    background-color: darkgray;
}

.modal-title {
    font-size: 14px;
    font-weight: bold;
}

/*Button*/
.button-transparent {
    background: none;
    background-color: transparent;
    border: 0;
    border-color: transparent;
    color: white;
}
.button-transparent:hover {
    cursor: pointer;
}

.button-transparent:focus {
    outline: none;
}

    .button-transparent:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s;
        border-color: transparent;
        border: 0;
    }

.menue-top {
    color: white;
}

.menueLine {
    display: none;
    border-top: 1px solid #808080;
    margin-top: 0;
    margin-bottom: 0;
    width: 80%;
}

.menue {
    padding-top: 15px;
}

